{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <img class="about-img pt-5"
             src="{% static 'images/information.jpg' %}"
             alt="Information">
      </div>
      <div class="col-6">
        <h2 class="text-center fs-2 my-4">About Us</h2>
        <p>
          Welcome to RestauranteX, where culinary excellence meets a warm and inviting ambiance. Our restaurant takes pride in delivering a dining experience that transcends the ordinary. Nestled in the heart of Ulkamara, RestauranteX is a culinary haven that celebrates the art of gastronomy. Our diverse menu showcases a fusion of flavors, carefully curated to tantalize your taste buds. From mouthwatering appetizers to delectable main courses and indulgent desserts, each dish is crafted with precision and passion. Our chefs source the finest, freshest ingredients to ensure a symphony of tastes in every bite. Whether you're savoring a romantic dinner for two or hosting a special celebration, our attentive staff is committed to making your dining experience memorable. At RestauranteX, we believe in creating not just meals, but moments that linger in your memory long after you leave. Join us for an unforgettable journey of culinary delights at RestauranteX.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
