{% extends "base.html" %}
{% block content %}
  {% if data %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Roll</th>
          <th scope="col">Department</th>
          <th scope='col'>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for st in data %}
          <tr>
            <td scope="row">{{ st.name }}</td>
            <td>{{ st.email }}</td>
            <td>{{ st.roll }}</td>
            <td>{{ st.department }}</td>
            <td>
              <a class="btn btn-danger" href="{% url 'delete_student' st.roll %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No data is available</p>
  {% endif %}
{% endblock content %}
