<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Explore a wide range of tech products and accessories. Find the latest gadgets and stay updated with the tech world.">
    <meta name="keywords"
          content="technology, gadgets, electronics, tech news, accessories">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h3>Django Model</h3>
      {% if data %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Roll</th>
              <th scope="col">Department</th>
              <th scope='col'>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for st in data %}
              <tr>
                <td scope="row">{{ st.name }}</td>
                <td>{{ st.email }}</td>
                <td>{{ st.roll }}</td>
                <td>{{ st.department }}</td>
                <td>
                  <a class="btn btn-danger" href="{% url 'delete_student' st.roll %}">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No data is available</p>
      {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
  </body>
</html>
