{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="d-flex flex-wrap align-items-center">
    <div class="col-6 p-5">
      <h3>Welcome to our blog page</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab porro atque exercitationem magni incidunt amet delectus rem iste eaque quasi, saepe molestias accusantium provident ducimus dolore nemo quaerat dolorem dolorum culpa qui soluta, aspernatur blanditiis repellendus! Laboriosam earum voluptates aliquam? Odit, corporis voluptatibus corrupti reiciendis assumenda rerum amet vero architecto!
      </p>
    </div>
    <div class="col-6 pt-4">
      <img src="{% static "images/blog.png" %}" alt="Blog image" />
    </div>
  </div>
  <div class="d-flex flex-wrap p-5">
    <div class="col-2 bg-light p-3">
      <h3>All categories</h3>
      {% for category in categories %}
        <div class="form-check">
          <input class="form-check-input"
                 type="radio"
                 name="categories"
                 id="{{ category.id }}">
          <label class="form-check-label" for="{{ category.id }}">
            <a href="{% url 'category_wise_post' category.slug %}"
               class="text-decoration-none text-dark">{{ category.name }}</a>
          </label>
        </div>
      {% endfor %}
    </div>
    <div class="col-10 p-3">
      <h4>{{ data | length }} results found!</h4>
      <div class="d-flex flex-wrap justify-content-center">
        {% for post in data %}
          <div class="col-sm-3">
            <div class="card m-2">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <p>Author : {{ post.author.first_name }} {{ post.author.last_name }}</p>
                <p>
                  Category :
                  {% for cat in post.category.all %}
                    <button class="btn btn-primary btn-sm m-2" disabled>{{ cat.name }}</button>
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
