<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a task management system project">
    <meta name="keywords" content="Task, management">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="w-50 mx-auto">
          <div class="navbar-nav">
            <a class="nav-link border-1 rounded-2 bg-secondary text-white"
               aria-current="page"
               href="{% url 'add_task' %}">Add Task</a>
            <a class="nav-link mx-5 border-1 rounded-2 bg-secondary text-white"
               href="{% url 'add_category' %}">Add Category</a>
            <a class="nav-link border-1 rounded-2 bg-secondary text-white"
               href="{% url 'homepage' %}">Show Tasks</a>
          </div>
        </div>
      </nav>
      {% block content %}
      {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
  </body>
</html>
