{% extends "base.html" %}
{% block content %}
  {% if messages %}
    {% for m in messages %}<p class="bg-success p-3 text-white">{{ m }}</p>{% endfor %}
  {% endif %}
  <h3 class="fs-2 text-center mt-5">Authentication:</h3>
  <p>
    Authentication is the process of verifying a user or device before allowing access to a system or resources. In other words, authentication means confirming that a user is who they say they are. This ensures only those with authorized credentials gain access to secure systems.
  </p>
  <h3 class="fs-2 text-center mt-5 text-primary">Authorization:</h3>
  <p>
    Authorization is the process of giving someone the ability to access a resource. Of course, this definition may sound obscure, but many situations in real life can help illustrate what authorization means so that you can apply those concepts to computer systems. A good example is house ownership.
  </p>
{% endblock content %}
