<!-- home.html -->
{% extends "base.html" %}
{% block content %}
  <h2 class="text-center my-4 fs-1 fw-bold">Home</h2>
  <div class="container">
    <div class="row">
      {% for meal in meals %}
        <div class="col-4 mb-5">
          <div class="card" style="width: 18rem;">
            <img src={{ meal.strMealThumb }} class="card-img-top" alt={{ meal.strMeal }}>
            <div class="card-body">
              <h5 class="card-title">{{ meal.strMeal }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
