{% extends "base.html" %}
{% block title %}
  HTML Form
{% endblock title %}
{% block content %}
  <div style="width: 50%; height: 500px; margin: auto" class="mt-3">
    <form action="/about/" method="post">
      {% csrf_token %}
      <label for="exampleInputName" class="form-label">User Name</label>
      <input type="text"
             class="form-control"
             id="exampleInputName"
             placeholder="Adam Smith"
             name="username">
      <label for="exampleInputEmail" class="form-label mt-3">Email address</label>
      <input type="email"
             class="form-control"
             id="exampleInputEmail"
             placeholder="name@example.com"
             name="email">
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
{% endblock content %}
